fastapi
uvicorn[standard]
pydantic
pydantic-settings
pandas
polars
duckdb
openpyxl
xlsxwriter
pyyaml
pandera
python-multipart
minio
redis
rq
celery
sqlalchemy
psycopg[binary]
pytest
httpx2
onnxruntime
rembg
mediapipe
